@page "/dashboard"
@using synctakerWeb.Models
@using synctakerWeb.Components.Layout
@rendermode InteractiveServer
@inject NavigationManager Navigation
@layout MainLayout

<div class="flex-grow-1 p-2">
    <div class="content-area bg-custom-light rounded-3 p-3" style="height: 700px;">
        <div class="row h-100 g-3">
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column p-3" style="border: 1px solid #d6d6d6; border-radius: 8px; background-color: #f9f9f9;">
                <h5 class="text-center">Assigned</h5>
                <div class="flex-grow-1 overflow-auto">
                    <ul class="list-group">
                        <li class="list-group-item">Task 1</li>
                        <li class="list-group-item">Task 2</li>
                        <li class="list-group-item">Task 3</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column p-3" style="border: 1px solid #d6d6d6; border-radius: 8px; background-color: #f9f9f9;">
                <h5 class="text-center">Review</h5>
                <div class="flex-grow-1 overflow-auto">
                    <ul class="list-group">
                        <li class="list-group-item">Task A</li>
                        <li class="list-group-item">Task B</li>
                        <li class="list-group-item">Task C</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 d-flex flex-column p-3" style="border: 1px solid #d6d6d6; border-radius: 8px; background-color: #f9f9f9;">
                <h5 class="text-center">Ended</h5>
                <div class="flex-grow-1 overflow-auto">
                    <ul class="list-group">
                        <li class="list-group-item">Task X</li>
                        <li class="list-group-item">Task Y</li>
                        <li class="list-group-item">Task Z</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
