@page "/dashboard"
@using synctakerWeb.Models
@using synctakerWeb.Components.Layout
@rendermode InteractiveServer
@inject NavigationManager Navigation
@layout MainLayout

<div class="flex-grow-1 p-2">
    <div class="content-area bg-custom-light rounded-3" style="height: 700px;"></div>
</div>

@code {

}
