@page "/"

<div class="container-fluid vh-100 d-flex justify-content-center align-items-center position-relative">
    <img src="data/back.jpg" class="background-image" alt="Background Image" />

    <div class="d-flex flex-column align-items-center gap-3 position-relative">
        <img src="data/logoBG.png" class="background-logo" alt="Background Logo" />
        <img src="data/canban.png" class="logo-image" alt="Logo" />

        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-primary btn-lg">Sign In</button>
        </div>
    </div>
</div>
