@page "/test"
@using synctakerWeb.Models
@inject WeatherForecastService WeatherService

<h3>Weather Forecast</h3>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var forecast in forecasts)
        {
            <li>@forecast.Date.ToShortDateString(): @forecast.Summary with @forecast.TemperatureC °C</li>
        }
    </ul>
}

@code {
    private IEnumerable<WeatherForecast> forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await WeatherService.GetWeatherForecastsAsync();
    }
}
